.slick-dots {
    display: none;
}

@media only screen and (min-width: 1201px){
    .page-content .mainScreen-max-container ul {
        justify-content: center;
    }
}
footer .menu {
    text-align: left;
}
.contacts-page-info__phone-number a , footer .contacts__phone a {
    color: black;
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
.zoom-gallery {
    list-style-type: none;
}